<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bint.mapper.ClassificationMapper">
 	<resultMap type="com.bint.model.ClassificationModel" id="classificationInfo">
		<id column="id" property="id" />
		<result column="classificationName" property="classificationName" />
		<association property="userModel" select="getUser" column="userId">
		</association>
	</resultMap> 
	
	<sql id="classification">
		id , classificationName , userId
	</sql>

	<sql id="classificationWithoutId">
		classificationName , userId
	</sql>
	
	<select id="findAuthor">
		SELECT * FROM SYSTEM_user WHERE ID = #{id}
	</select>
	
	<select id="getUser">
		select id, username, password , address, gender ,permissionCode from SYSTEM_user where id = #{id}
	</select>

	<!-- <select id="findById" parameterType="long" resultType="com.bint.model.ClassificationModel">
		Select *
		From BLOG_classification
		Right JOIN SYSTEM_user
		On BLOG_classification.userId = SYSTEM_user.id where BLOG_classification.id = #{id}
	</select> -->
	
	<select id="findById" parameterType="long" resultType="com.bint.model.ClassificationModel">
		select <include refid="classification" /> from BLOG_classification where id=#{id}
	</select>
	<insert id="add" parameterType="com.bint.model.ClassificationModel"
		keyProperty="id">
		insert into BLOG_classification (
		<include refid="classificationWithoutId" />
		) values
		(
		#{classificationName},
		#{user.id}
		)
	</insert>

	<select id="list" resultType="com.bint.model.ClassificationModel">
		select
		<include refid="classification" />
		from BLOG_classification
	</select>

	<select id="delete" parameterType="Long" resultType="Integer">
		delete from
		BLOG_classification where id = #{id}
	</select> 
</mapper>