<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bint.mapper.UserMapper">
	<sql id="userWithID">
		id, username, password , address, gender ,permissionCode
	</sql>

	<sql id="userWithoutID">
		username, password , address, gender ,permissionCode
	</sql>
	<resultMap type="com.bint.model.UserModel" id="userInfo">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="address" property="address" />
		<result column="gender" property="gender" />
		<result column="permissionCode" property="permissionCode" />
		<collection property="classificationList" ofType="com.bint.model.ClassificationModel" column="userId"></collection>
	</resultMap>

	<insert id="add" parameterType="com.bint.model.UserModel"
		keyProperty="id">
		insert into SYSTEM_user (
		<include refid="userWithoutID" />
		) values
		(
		#{username},
		#{password},
		#{address},
		#{gender},
		#{permissionCode}
		)
	</insert>
	<select id="findByUsername" parameterType="com.bint.model.UserModel"
		resultType="com.bint.model.UserModel">
		select
		<include refid="userWithID" />
		from SYSTEM_user where username=#{username}
	</select>

	<select id="findById" parameterType="long" resultType="com.bint.model.UserModel">
		select
		<include refid="userWithID" />
		from SYSTEM_user where id=#{id}
	</select>

	<select id="listAll" resultType="com.bint.model.UserModel">
		select
		*
		from SYSTEM_user
	</select>

	<delete id="delete" parameterType="Long">
		delete from
		SYSTEM_user
		where id = #{id}
	</delete>

	<select id="getPage" parameterType="com.bint.vo.PageVo"
		resultType="com.bint.model.UserModel">
		select
		id, username, password , address, gender ,permissionCode
		from SYSTEM_user limit #{startIndex},#{size};
	</select>
	
	<update id="update" parameterType="com.bint.model.UserModel">
		update SYSTEM_user SET password=#{password} ,gender=#{gender}, address = #{address} WHERE username = #{username};
	</update>
	
	<select id="getAmount" parameterType="com.bint.vo.PageVo"
		resultType="long">
		select
		count(*)
		from SYSTEM_user;
	</select>

</mapper>